<h2>Show Article Details</h2>

<!--
#<% %> is for compiler to evaluate the code as ruby code
#<%= %> adding equal means evaluate as ruby code then render the code 
-->

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>