<h1 class = "text-center mt-4" Edit category name</h1>

<div class = "container">
    <div class = "row justify-content-center">
        <div class = "col-10">
            <%= render 'categories/form' %>

            <div class = "form-group text-center mb-5">
                <%= link_to 'Back to Categories Listing', categories_path(@category), class: "btn btn-outline-dark" %>
            </div>
        </div>
    </div>
</div>